* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
  }
  
  html,
  body {
    background-color: #fafafa;
    width: 100%;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: 800px) {
      height: 80vh;
    }
  }
  
  //Figure - Smartphone picture
  figure {
    img {
      margin: 0 auto;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
  
  section {
    width: 100%;
    max-width: 350px;
    text-align: center;
  }
  
  .login {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .login__logo {
      margin: 2rem 0;
    }
    .login__form {
      width: 100%;
      max-width: 270px;
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        background-color: #fafafa;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        font-size: 0.875rem;
      }
      .button {
        width: 100%;
        margin: 0.5rem 0;
        padding: 0.5rem;
        border: none;
        border-radius: 3px;
        background-color: #0095f6;
        font-size: 0.875rem;
        font-weight: 600;
        color: #ffffff;
      }
    }
    .login__or {
      width: 100%;
      height: 1rem;
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #8e8e8e;
      text-transform: uppercase;
    }
    // line "divisor"
    .login__or::before {
      content: "";
      width: 105px;
      height: 2px;
      background-color: #efefef;
    }
    .login__or::after {
      content: "";
      width: 105px;
      height: 2px;
      background-color: #efefef;
    }
    .login__facebook {
      margin: 0.5rem 0;
      color: #385185;
      p {
        font-size: 1rem;
        font-weight: 600;
      }
      .fa-facebook-square {
        font-size: 1.25rem;
      }
    }
    .login__forgotpass {
      margin: 1rem 0;
      color: #00376b;
    }
    @media (min-width: 450px) {
      margin-top: 2rem;
      border: 1px solid #dbdbdb;
    }
  }
  
  .no-account {
    margin: 1rem 0;
    .no-account__link {
      color: #0095f6;
      text-decoration: none;
      font-weight: 600;
      font-size: 0.875rem;
    }
    @media (min-width: 450px) {
      margin: 0.5rem 0;
      padding: 1rem 0;
      border: 1px solid #dbdbdb;
    }
  }
  
  .download {
    margin-top: 2rem;
    p {
      margin-bottom: 1rem;
    }
    .download__buttons {
      display: flex;
      justify-content: center;
    }
    .download__button {
      width: 136px;
      height: 40px;
      margin-right: 0.5rem;
    }
  }
  
  //footer
  footer {
    margin: 4rem 0;
    .footer-links {
      max-width: 630px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        padding: 0 0.5rem 0.5rem;
        a {
          color: #8e8e8e;
          font-size: 0.75rem;
        }
      }
    }
  }
  